@model App.Models.PortfolioUpload

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PortfolioUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TradeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradeCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agreements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agreements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastRunTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastRunTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
