<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment include="Development,Production">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@

        <!-- Bootstrap -->
        <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- Dropzone.js -->
        <link href="../vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
        <!-- bootstrap-daterangepicker -->
        <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="~/Content/build/css/custom.min.css" rel="stylesheet">

    </environment>
    <environment exclude="Development,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="nav-md">    

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-bar-chart-o"></i> <span>Risk Web</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../../production/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home </a>
<<<<<<< HEAD
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Test Run", "Engine", "Run")</li>
                                        <li>@Html.ActionLink("Load Exposure", "LoadExposure", "Run")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i> New Trade <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Interest Rate", "Index", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("FX", "Index2", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("Credit", "Upload", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Portfolios <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("View & manage", "Index", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("Upload Area", "UploadPortfolio", "PortfolioUploads")</li>
=======
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i> New Trade <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Interest Rate", "Index", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("FX", "Index2", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("Credit", "Upload", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Portfolios <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("View & manage", "Index", "PortfolioUploads")</li>
                                        <li>@Html.ActionLink("Upload Area", "UploadPortfolio", "PortfolioUploads")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Market Data <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("View & manage", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Upload Area", "Upload", "Home")</li>
                                        <li>
                                            <a> Configuration <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Conventions", "Upload", "Home")</li>
                                                <li>@Html.ActionLink("Fixings", "Upload", "Home")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Results <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Overview", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Market Risk", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Credit Exposure", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("XVA", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Regulatory", "Upload", "Home")</li>
>>>>>>> refs/remotes/origin/master
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Misc</h3>
                            <ul class="nav side-menu">
                                <li>
<<<<<<< HEAD
                                    <a><i class="fa fa-table"></i> Market Data <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("View & manage", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Upload Area", "Upload", "Home")</li>
                                        <li>
                                            <a> Configuration <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Conventions", "Upload", "Home")</li>
                                                <li>@Html.ActionLink("Fixings", "Upload", "Home")</li>
                                            </ul>
                                        </li>
=======
                                    <a><i class="fa fa-cog"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a> Pricing <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Pricing Engine", "Upload", "Home")</li>
                                                <li>@Html.ActionLink("Curve Configuration", "Upload", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Simulation", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Legal Agreements", "Upload", "Home")</li>
>>>>>>> refs/remotes/origin/master
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-database"></i> Database <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
<<<<<<< HEAD
                                        <li>@Html.ActionLink("Overview", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Market Risk", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Credit Exposure", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("XVA", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Regulatory", "Upload", "Home")</li>
=======
                                        <li><a href="tables_dynamic.html">Table Dynamic</a></li>
>>>>>>> refs/remotes/origin/master
                                    </ul>
                                </li>
                                <li>
<<<<<<< HEAD
                                    <a><i class="fa fa-cog"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a> Pricing <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Pricing Engine", "Upload", "Home")</li>
                                                <li>@Html.ActionLink("Curve Configuration", "Upload", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Simulation", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Legal Agreements", "Upload", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-database"></i> Database <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-life-bouy"></i> Support <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Chat", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("FAQ", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Report bug", "Upload", "Home")</li>
                                    </ul>
                                </li>
                                <li>
=======
                                    <a><i class="fa fa-life-bouy"></i> Support <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Chat", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("FAQ", "Upload", "Home")</li>
                                        <li>@Html.ActionLink("Report bug", "Upload", "Home")</li>
                                    </ul>
                                </li>
                                <li>
>>>>>>> refs/remotes/origin/master
                                    <a><i class="fa fa-windows"></i> About</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Login", "Startup")" data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../../production/images/user.png" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a id="settingsId" href="#;">Help</a></li>
                                    <li><a href="@Url.Action("Login", "Startup")"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">1</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="../../production/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Jane Doe</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Content...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->            
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>    

    <environment include="Development,Production">
<<<<<<< HEAD
        
        <!-- ECharts -->
        <script src="~/vendors/echarts/dist/echarts.min.js"></script>
        <script src="~/vendors/echarts/map/js/world.js"></script>
=======
>>>>>>> refs/remotes/origin/master
        <!-- jQuery -->
        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/vendors/iCheck/icheck.min.js"></script>
        <!-- Dropzone.js -->
        <script src="~/vendors/dropzone/dist/min/dropzone.min.js"></script>
        <!-- Skycons -->
        <script src="~/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/vendors/Flot/jquery.flot.js"></script>
        <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/vendors/moment/min/moment.min.js"></script>
        <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="~/Content/build/js/custom.min.js"></script>

        <!-- Misc Scripts -->
        <script src="~/Scripts/misc.js"></script>

    </environment>
    <environment exclude="Development,Production">

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>      

        <script>
            function AlertName(name) {
                alert('You clicked ' + name + "!");
            }
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
