@using App.Models
@using System.Web

@model App.Models.Exposure

@{
    ViewBag.Title = "Exposure";
}

<div class="right_col" role="main">

    <h2>Exposure</h2>

    @*<pre>@Model.Time</pre>
    <pre>@Model.Values1</pre>*@

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Simulation</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div id="exposure_graph_dynamic" style="height:450px;"></div>
                @*<div id="exposure_graph_dynamic" style="height:350px;"></div>*@

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function GetDisplayName() {    
            
            return @Html.Raw(Json.Serialize(Model.DisplayName)); 
        }

        function GetYearFrac() {    
            
            return @Html.Raw(Json.Serialize(Model.Time)); 
        }

        function GetExposureValues1() {    
            
            return @Html.Raw(Json.Serialize(Model.Values1)); 
        }

        function GetExposureValues2() {    
            
            return @Html.Raw(Json.Serialize(Model.Values2)); 
        }

    </script>
}